.preview {
    position: sticky;
    width: 100%;
    top: 40px;
    box-shadow: 0px 1px 40px 0px rgba(66, 66, 67, 0.13);
    border-radius: 8px;
    padding: 20px;
}

.preview__title {
    color: #11a0db;
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 20px;
}

.preview__holder {
    width: 100%;
    height: 100%;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.preview__banner {
    width: 100%;
    height: 100%;
    border: 1px solid #9a9a9f;
}

.preview__banner__title {
    width: 100%;
    background: #424243;
    color: #ffffff;
    font-size: 18px;
    font-weight: 500;
    padding: 12px 24px;
    height: 42px;
}

.preview__banner__content {
    padding: 24px;
    display: flex;
    flex-direction: row;
    height: 100%;
    gap: 5px;
}

.preview__banner__content__description {
    width: 70%;
    overflow: hidden;
}

.preview__banner__content__image {
    width: 30%;
}

.preview__banner__ingeredients {
    padding: 0px 24px 24px 24px;
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
}

.preview__banner__ingeredients__ingredient {
    padding: 4px 18px;
    border-radius: 8px;
    background: rgba(17, 160, 219, 0.3);
    font-size: 13.7px;
    font-weight: 400;
    line-height: 19.571px;
}
