.button {
    border-radius: 8px;
    background: #11a0db;
    padding: 12px 30px;
    border: none;
    color: #ffffff;
    font-size: 16px;
    font-weight: 500;
    width: fit-content;
    position: relative;
    display: flex;
    align-items: center;
    gap: 10px;
}

.button:hover {
    cursor: pointer;
    background: rgba(17, 160, 219, 0.8);
}

.button:disabled {
    cursor: not-allowed;
    background-color: #d3d3d3;
}

.button-text {
    background-color: transparent;
    color: #2f2f2f;
    padding: 12px 0px;
}

.button-text:hover {
    background: transparent;
}

.button.right {
    margin-left: auto;
}

@media (max-width: 480px) {
    .button {
        width: 100%;
        justify-content: center;
    }
}
