.steps-and-preview {
    display: flex;
    gap: 80px;
    justify-content: space-between;
}

.steps-and-preview__steps {
    display: flex;
    flex-direction: column;
    gap: 36px;
    width: calc(60% - 36px);
}

.steps-and-preview__preview {
    width: calc(40% - 44px);
}
