.steps-and-preview {
    display: flex;
    gap: 80px;
    justify-content: space-between;
}

.steps-and-preview__steps {
    display: flex;
    flex-direction: column;
    gap: 36px;
    width: calc(60% - 36px);
}

.steps-and-preview__preview {
    width: calc(40% - 44px);
}

@media (max-width: 992px) {
    .steps-and-preview {
        flex-direction: column;
        gap: 40px;
    }

    .steps-and-preview__steps {
        width: 100%;
    }

    .steps-and-preview__preview {
        width: 100%;
    }
}
