.choosing-width {
    display: flex;
    flex-direction: column;
}

.choosing-width__preset {
    display: flex;
    gap: 20px;
    margin-bottom: 20px;
}

.choosing-width__preset__label {
    display: flex;
    align-items: center;
    gap: 10px;
    height: 180px;
    padding: 40px 10px;
    border-radius: 8px;
    background: #f3f3f3;
    cursor: pointer;
}

.choosing-width__custom {
    padding: 0px 20px;
    display: flex;
    gap: 20px;
    align-items: center;
}

.choosing-width__custom__label {
    display: flex;
    align-items: center;
    gap: 10px;
}

.choosing-width__custom__input-holder {
    display: flex;
    align-items: center;
    gap: 10px;
}
