.card {
    width: 100%;
    box-shadow: 0px 1px 40px 0px #42424321;
    border-radius: 8px;
}

.card__title {
    width: 100%;
    height: fit-content;
    color: #ffffff;
    border-radius: 8px 8px 0px 0px;
    background: #424243;
    display: flex;
    align-items: center;
    padding: 14px 26px;
    font-size: 22px;
    font-weight: 600;
}

.card__content {
    width: 100%;
    padding: 26px;
}
